@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h3>ASP.NET Assignment for Evolent</h3>
    
    <p> <li>@Html.ActionLink("Go To Contact Page", "Index", "Contact")</li></p>
</div>

